# Created by .ignore support plugin (hsz.mobi)

# ignore dev files
src
utils/src
test
.vscode

# not needed npm stuff
package-lock.json
node_modules
**/**/tsconfig.*
eslint.config.ts
README-git
README-npm